<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Kalix.ApiCrypto" version="3.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="Security.Cryptography" version="1.7.2" targetFramework="net471" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net471" />
</packages>