<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lucene.Net" version="3.0.3" targetFramework="net471" />
  <package id="Lucene.Net.Contrib.Management" version="1.0.3" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net471" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net471" />
  <package id="System.Interactive.Async" version="4.0.0" targetFramework="net471" />
  <package id="System.Linq.Async" version="4.0.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
</packages>