<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="********************"/>
    <add key="AWSSecretKey" value="****************************************"/>
    <add key="RegionSystemName" value="sa-east-1" />
    <add key="TestBucket" value="bucketname" />
  </appSettings>
</configuration>